body
{
    margin:0;
    padding:0;
    background: #fff;
    overflow-x: hidden;
}
div
{
    
    unicode-bidi: isolate;
}
.ver
{
    border-left: 1px solid rgb(255, 255, 255);
  height: 500px;
}
.buy-section
{
    background-color: #cdcbc7;
    
}
.buy-section .h-home
{
    background:rgb(165, 222, 244);
}

.delivery-gif img
{
    height: 400px;
    width: 120%;
    padding: 20px;
    margin: 20px 0px 35px -50px;
    border-radius: 150px;


}
.contact-section
{
    font-size: 20px;
}


.contact-row
{
    margin-top:5%;
    
}
.form-group
{
    margin-bottom:15px;
}
.form-control {
  
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius:4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}
.anchor img
{
    height:80%;
    
}
