body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
}
.service-tag .service-tag-para {
  text-align: justify;
  padding: 15px;
  margin: 1px;
  word-spacing: 3px;
}
.span-para-choose {
  margin: 0px;
  font-weight: 700;
  text-align: justify;
  padding: 0px;
}
.span-para-choose-para {
  text-align: justify;
  margin: 10px;
}
.selling-tag i {
  margin: 0px;
  padding: 8px;
}


.cashgold img {
  width: 100%;
}
